/* body {
  background-image: url(assets/img/background2.jpg);
  background-position: center;
  background-size: cover;
  color: rgb(25, 25, 25);
  font-family: "Roboto Slab", serif;
}
.header-img {
  height: 250px;
  width: max-content;
  object-fit: cover;
}
.navbar {
  background-color: rgb(111, 202, 50);
}
.navbar1 {
  background-color: rgb(111, 202, 50);
}
.navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.navbar-brand:hover {
  color: rgb(25, 25, 25);
}
.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 5px;
  background: rgb(25, 25, 25);
  transition: 0.2s;
}
.nav-item:hover::after {
  width: 100%;
}
.nav-link {
  padding: 10px;
  transition: 0.2s;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.nav-link:hover {
  color: rgb(25, 25, 25);
}
.dropdown-item:active {
	background-color: rgb(200, 75, 75);
}
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(25, 25, 25);
}
.card {
  background-color: rgb(255, 255, 255);
  color: rgb(25, 25, 25);
}
.card.login {
  width: 250px;
}
.card.registration{
  width: 500px;
}
.jumbotron{
  background-color: rgba(87, 248, 95, 0.473);
  color: white;
}
.btn.banner{
  font-size: 25px;
  border-radius: 50px;
}
.footer {
  background-color: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  height: 100px;
} */

.footer-bs {
	margin-top: 100px;
    
}
body {
	margin-top: 100px;
	background-position: center;
	background-size: cover;
	color: rgb(25, 25, 25);
	font-family: inherit;
	font-size:inherit;
  }
  .header-img {
	margin-top: 10px;
	height: 250px;
	width: max-content;
	object-fit: cover;
  }
/* .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
} */